Tree {{ tree.TreeID }}
Collector: {{ tree.COLLECTOR_NAME }}

Date Identified: {{ tree.DATE_OF_MOTHER_TREE_ID }}

District: {{ tree.DISTRICT_NAME }}

Forest Reserve: {{ tree.FOREST_RESERVE_NAME }}

Species: {{ tree.SPECIES_NAME }}

Lot Code: {{ tree.LOT_CODE }}

GPS: {{ tree.GPS }}

DBH (cm): {{ tree.DBH_CM }}

Height (m): {{ tree.TOTAL_TREE_HEIGHT_M }}

Crown Condition: {{ tree.CONDITION_OF_TREE_CROWN }}

Trunk Form: {{ tree.TRUNK_FORM_OF_TREE }}

Health Status: {{ tree.HEALTH_STATUS_OF_MOTHER_TREE }}

Disease/Pest Evidence: {{ tree.EVIDENCE_OF_DISEASE_PEST }}

Fruiting Status: {{ tree.FLOWER_FRUITING_STATUS_OF_MOTH }}

Accessibility: {{ tree.ACCESSIBILITY_FOR_IDENTIFYING }}

Notes: {{ tree.Notes }}

Photos
{% for photo in photos %} {% if photo %}